@page
@model ErrorModel
@{
    ViewData["Title"] = "خطا";
}

<h1 class="text-danger">خطا:</h1>
<h2 class="text-danger">در سیستم خطایی رخ داده است.</h2>

<a asp-page="Index" class="btn btn-success mb-2">
    بازگشت به صفحه اصلی
</a>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

