<header class='header'>
    <div class="header-row">
        <ul class='header-contact'>
            <li class='header-contact-item'>
                <a href='void;'>شماره تماس</a>
            </li>
            <li class='header-contact-item'>
                <a href='void;'>اینستاگرام</a>
            </li>
        </ul>
    </div>
    <h1>بالدی بال</h1>
    <div class="logo-container">
        <figure class='logo-image'>
            <a href="."><img src='/images/logo.png' alt='' /></a>
        </figure>
    </div>
</header>